* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.App-warm{
  background-image: url('./assets/images/cloudy_day.png')
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 25px;
}



.search-box {
  display: block;
  width: 50%;
  height: 50px;
  margin: auto;
  padding: 15px;
  appearance: none;
  background:none;
  outline: none;
  border-radius: 16px 16px 16px 16px;
  margin-top: 25px;
  color: black;
  font-size:20px;
}

.weather-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  text-align: center;
  background-color: #fff;
  font-size:50px;
  border: 2px solid black;
}

.welcome-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-text{
  font-size:50px;
  margin-top:100px;
  font-family:monospace;
  font-weight:bold;
}

.welcome-image{
  background-image: url('./assets/images/sunny_day.png');
  /* background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out; */
  height: 50px;
  width: 50px;
}

/* .location-box .location{
  color: #fff;
  font-size: 32px;
  font-weight:500;
  text-align: center;
  text-shadow:3px 3px rgba(50, 50, 70, 0.5) 
}

.location-box .date{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow:2px 2px rgba(50,50,70,0.5)
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius:16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px center;
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather-box .weather{
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
} */